body {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;

    font-family: system, sans-serif;
	font-size: 100%;
	color: #343434; /* Jet Black */
	background-color: #FCFCFC; /* Off white */
	
	/* Can't seem to get ligatures to work... */
	-ms-font-feature-settings:     'smcp' 1, 'liga' 1;  /* IE10 */
    -moz-font-feature-settings:    'smcp' 1, 'liga' 1;  /* Firefox */
    -webkit-font-feature-settings: 'smcp' 1, 'liga' 1;  /* Chrome, Safari, Opera */
    font-feature-settings:         'smcp' 1, 'liga' 1;  /* Future-proof! */ 
}
@media (max-width: 576px) {
    body {
        font-size: 110%;
    }
}

.teaserimage {
    -ms-interpolation-mode: bicubic;
    margin-top: 40px;
    width: 100%;
    max-width: 700px;
}

.hyphenate {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}

h1 {
    font-family: Garamond, ‘Hoefler Text’, ‘Times New Roman’, Times, serif;
	font-size: 3em;
	font-weight: normal;
	font-style: normal;
}

h2 {
    font-family: Garamond, ‘Hoefler Text’, ‘Times New Roman’, Times, serif;
    position: relative;
    font-weight: normal;
    font-size: 2em;
    padding-top: 0em;
    padding-bottom: 0em;
    margin-top: 2em;
    margin-bottom: 0.6em;
}
section > h2:after {
    content: '';
    position: absolute;
    width: 50px;
    display: block;
    height: 3px;
    background-color: hsl(347,100%,28%);
    bottom: -8px;
}

h3 {
    color: hsl(347,100%,18%);
    font-weight: normal;
    font-size: 1.5em;
    padding-top: 0em;
    padding-bottom: 0em;
    margin-top: 1.5em;
    margin-bottom: 0.3em;
}

th {
    text-align: left;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    border-bottom: 1px solid #ddd;
    white-space: nowrap;
}

.totalrow {
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    border-top: 1px solid #ddd;
}

td {
    padding: 0.25em;
    border: inherit;
    vertical-align: top;
    white-space: nowrap;    
}

.schedule {
    border-bottom: 1px solid #ddd;
}

.schedulesection {
    text-align: left;
    padding-top: 1em;
    padding-bottom: 0.2em;
    border-bottom: 1px solid #ddd;
    /* background-color: #579789; */
}

.sc {
    font-family: 'EB Garamond SC', 'Constantia', 'Georgia', serif;
    font-style: normal;
    -moz-hyphens: none;
    -webkit-hyphens: none;
    -o-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
    letter-spacing: 1px;
}

a:link {color: hsl(347,100%,30%); text-decoration: none; }
a:active {color: hsl(347,100%,24%); text-decoration: underline; }
a:visited {color: hsl(347,100%,20%); text-decoration: none; }
a:hover {color: hsl(347,100%,27%); text-decoration: underline; }
/* Force word-wrapping for long urls */
a {
    overflow-wrap: break-word;
    word-wrap: break-word;

    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;

    /* Adds a hyphen where the word breaks, if supported (No Blink) */
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}
